{% comment %} how to use models into views {% endcomment %}
{% load static %}
<html> 
    <head> 
        <title>Admission Report Page</title> 
    </head> 

<body> 
    <table border="1"> 
    <tr> 
       <th>Id</th>
       <th>Student Name</th> 
       <th>Father Name</th> 
       <th>Class Name</th> 
       <th>contact</th> 
       <th>Delete Action</th>
       <th>Update Action</th>
    </tr> 
{% for s in allstudents %} 
    <tr> 
        <td>{{s.id}}
        <td>{{s.name}}</td> 
        <td>{{s.fathername}}</td> 
        <td>{{s.classname}}</td> 
        <td>{{s.contact}}</td> 
        <td><a href="/ad/delete/{{s.id}}">Delete</a></td>
        <td><a href="/ad/update/{{s.id}}">Update</a></td>
    </tr> 
{% endfor %} 
    </table> 
</body> 
</html> 