<html> 
<head> 
<title>Insert Teacher</title> 
</head> 
<body> 
    <form method= "POST"> 
    <table> 
{{form.as_table}} 
    </table> 
    <input type= "submit" value="Add Teacher"> 
{% csrf_token %} 
    </form> 
</body> 
</html> 

{% comment %} ------------------------------------------------- {% endcomment %}

<html> 
<head> 
<title>UpdateTeacher</title> 
</head> 
<body> 
    <form method= "POST"> 
    <table> 
{{form.as_table}} 
    </table> 
    <input type= "submit" value="Update Teacher"> 
{% csrf_token %} 
    </form> 
</body> 
</html> 

{% comment %} ------------------------------------------------------ {% endcomment %}